@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 255, 180);
    height: 100vh;
    width: 100%
}

#map {
    height: 100vh;
}

#overlay {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    top: 0;
    left: 0;
    display: none
}
.image {
    opacity: 1;
    cursor: pointer;
    height: 45vh;
    border-radius: 15px;
}
@media screen and (orientation: portrait) {
    .image {
        opacity: 1;
        cursor: pointer;
        height: 11vh;
        border-radius: 15px;
    }
}
.image:hover {
    opacity: 0.7
}

.table {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
}

.backButtonMap {
    position: fixed;
    margin: 1%;
    height: 50px;
    width: 150px;
    border: 2px black solid;
    border-radius: 15px;
}
.backButtonMap:hover {
    margin: 1%;
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border: 2px rgb(255, 255, 255) solid;
    cursor: pointer;
}

.white {
    background-color: white;
}

.scrollText {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%);
    font-size: 100px;
    z-index: 3;
    font-family: Roboto;
    -webkit-text-stroke: 3px;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.topImage {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url("images/maps/mapColors.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}
.bottomArea {
    position: relative;
    height: 2000px;
    z-index: 2;
    background-image: linear-gradient(transparent 0% 3%, rgba(147, 147, 147, 0.7) 5% 100%);
    top: 100%
}

.bottomAreaText {
    position: absolute;
    font-weight: bold;
    font-family: Edu SA Beginner;
    font-size: 30px;
    letter-spacing: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

}
.bottomAreaButton {
    cursor: pointer;
    position: absolute;
    height: 60px;
    width: 300px;
    border: none;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%);
}

.aqua {
    background-color: aqua;
}
.green {
    background-color: rgb(0, 255, 0);
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: rgb(255, 84, 229);
}
.red {
    background-color: red;
}
.brown {
    background-color: rgb(224, 107, 30);
}
.blue {
    background-color: blue;
}

.catImg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    animation: bob 5s infinite forwards linear;
}

.duckImg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    margin: 2%;
    animation: bob 10s infinite 2s forwards linear;
}

@keyframes bob {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 0;
    }
}